.home {
  width: 100%;
  min-height: 100vh;
}

.text__wrapper {
  height: 100vh;
}

.texts {
  height: 100%;
  @include flex(center, center, 1rem);
}

.home__text {
  font-size: 6rem;
  font-weight: 900;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: $col-grey;
  font-family: $font-mori;
  color: $col-grey;
}

.home__dash {
  height: 1.4rem;
  width: 4rem;
  margin-top: 1rem;
  background-color: $col-grey;
}
